@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body a {
  color: #000000;
  text-decoration: none;
}

/* Pages */
.page-header {
  color: #000000;
  background: #ffffff;
}

/* Navigation */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-logo {
  margin: 0;
  padding: 0;
  width: 139px;
  height: 70px;
  margin-right: 30px;
}

.navigation-logo:focus-visible {
  outline: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-link {
  display: block;
  margin-top: 20px;
  margin-right: 34px;
  padding-bottom: 20px;
  margin-left: 17px;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #000000;
  background: #ffffff;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: #d6d0cd;
}

.navigation-link:focus-visible {
  outline: none;
}

.navigation-icon path:hover {
  fill: #756257;
}

.navigation-icon path:active {
  fill: #d6d0cd;
}

.entrance-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  cursor: pointer;
}

.entrance-button:hover {
  background: #615048;
}

.entrance-button:active {
  color: #ffffff4d;
}

.entrance-button:focus-visible {
  outline: none;
}

.entrance-button:focus {
  background: #615048;
  border: 3px solid #83b3d3;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-image: url("../images/index-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  color: #242424;
  background-color: #ffffff;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index-logo {
  display: block;
  margin: 51px auto;
  margin-bottom: 25px;
}

/* Sedona */
.sedona {
  padding-top: 63px;
  width: 1200px;
  height: 282px;
  text-align: center;
}

.sedona-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.sedona-reason {
  height: 36px;
  margin-top: 31px;
}

.index-columns {
  display: inline-flex;
  color: #242424;
}

/* Advantages  */
.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-item_city {
  margin: 0;
  padding: 0;
  width: 1200px;
  text-align: center;
  color: #242424;
}

.advantages-item-bridge {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1200px;
  text-align: center;
  color: #242424;
}

.advantage-blue {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 400px;
  color: #242424;
}

.advantage-blue-city {
  background-color: #83b3d3;
  color: #ffffff;
  width: 400px;
  margin: 0 auto;
  height: 384px;
}

.advantage-blue-bridge {
  background-color: #83b3d3;
  color: #ffffff;
  width: 400px;
  margin: 0 auto;
  height: 384px;
}

.advantage__image {
  max-width: 800px;
  height: 384px;
}

.advantages-title {
  width: 400px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 97px;
}

.advantages-item {
  list-style-type: none;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/* Feature */
.feature-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  width: 1200px;
  height: 384px;
}

.feature-title {
  text-align: center;
  font-size: 24px;
  width: 250px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 184px;
  margin-right: 75px;
  margin-bottom: 20px;
  margin-left: 75px;
}

.feature-item {
  list-style-type: none;
}

.item-house,
.item-gift {
  background-color: #f0f6fa;
}

.item-house {
  background-image: url("../images/icons/icon-house.svg");
  background-position: left 163px top 89px;
  background-repeat: no-repeat;
}

.item-food {
  background-image: url("../images/icons/icon-food.svg");
  background-position: left 163px top 89px;
  background-repeat: no-repeat;
}

.item-gift {
  background-image: url("../images/icons/icon-gift.svg");
  background-position: left 163px top 89px;
  background-repeat: no-repeat;
}

.feature-reason {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages-more {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 1200px;
  height: 384px;
}

.item-size {
  background-color: #f0f6fa;
}

.item-road {
  background-color: #e7f0f6;
}

.item-tourists {
  background-color: #f0f6fa;
}

/* booking */
.booking {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 417px;
  text-align: center;
  background-color: #ffffff;
}

.booking__question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 91px;
}

.booking__text {
  width: 720px;
  height: 52px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 29px;
  margin-right: 240px;
  margin-bottom: 56px;
  margin-left: 240px;
}

.booking__button {
  width: 276px;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 15px;
  padding-right: 150px;
  padding-bottom: 9px;
  padding-left: 149px;
  text-align: center;
  text-shadow: 0 4px 4px #00000040;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 0 auto 93px;
  cursor: pointer;
  border: 3px solid #11ffee00;
}

.booking__button:hover {
  background-color: #615048;
}

.booking__button:active {
  color: #ffffff4d;
}

.booking__button:focus-visible {
  outline: none;
}

.booking__button:focus {
  background: #615048;
  border: 3px solid #83b3d3;
}

/* Newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-align: center;
  background-image: url("../images/newsletter-background.jpg");
  background-size: 1200px 411px;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

.newsletter-title {
  width: 720px;
  height: 36px;
  text-transform: uppercase;
  margin-top: 94px;
  margin-right: 240px;
  margin-left: 240px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.inner-newsletter-title {
  text-transform: uppercase;
  margin-top: 73px;
  margin-right: 240px;
  margin-bottom: 46px;
  margin-left: 240px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.newsletter__text {
  font-size: 22px;
  line-height: 26px;
  padding-right: 240px;
  padding-left: 240px;
  padding-bottom: 46px;
}

.newsletter-form {
  display: flex;
  width: 800px;
  height: 60px;
  margin-bottom: 94px;
  margin-left: 200px;
}

.field {
  padding: 0;
  margin: 0;
  width: 600px;
  font-size: 18px;
  line-height: 26px;
  padding-left: 20px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.field:hover {
  background: #e6e6e6;
}

.field:focus-visible {
  outline: none;
}

.field:focus {
  background: #e6e6e6;
  border: 3px solid #83b3d3;
}

.inner-field {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  padding-left: 20px;
  width: 600px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.inner-field:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.inner-field:focus-visible {
  outline: none;
}

.inner-field:focus {
  background: #e6e6e6;
  border: 3px solid #83b3d3;
}

.inner-newsletter {
  background-image: none;
  color: #000000;
  background-color: #ffffff;
}

.newsletter-button {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:active {
  color: #96bfdb;
}

.newsletter-button:focus-visible {
  outline: none;
}

.newsletter-button:focus {
  color: #ffffff;
  border: 3px solid #756257;
}

.newsletter-button-inner {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
}

.newsletter-button-inner:hover {
  background-color: #68a2ca;
}

.newsletter-button-inner:active {
  color: #ffffff4d;
}

.newsletter-button-inner:focus-visible {
  outline: none;
}

.newsletter-button-inner:focus {
  color: #ffffff;
  border: 3px solid #756257;
}

.contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 720px;
  height: 50px;
  margin: 40px 53px 30px 61px;
  text-align: center;
  border: 3px solid #11ffee00;
  box-sizing: border-box;
  border-radius: 10px;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:active {
  color: #d7d1ce;
}

.contacts-phone:focus-visible {
  outline: none;
}

.contacts-phone:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

/* footer */
.page-footer {
  background-color: #ffffff;
  display: flex;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.page-footer__social {
  margin-right: auto;
  max-width: 130px;
}

.social-links {
  margin: 0;
  padding: 0;
  width: 107px;
  height: 18px;
  display: flex;
  flex-wrap: wrap;
  max-width: 130px;
  margin-top: 49px;
  margin-bottom: 53px;
  margin-left: 72px;
  justify-content: space-between;
}

.social-links__item {
  list-style-type: none;
  justify-content: space-between;
}

.social-links__link {
  stroke: none;
}

.social-links__link path:hover {
  fill: #68a2ca;
}

.social-links__link path:active {
  fill: #d3e4ef;
}

.social-links__link:focus {
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 10px;
}

.social-links-twitter {
  width: 18px;
  height: 15px;
  margin-right: 29px;
}

.social-links-facebook {
  width: 10px;
  height: 18px;
  margin-right: 30px;
}

.social-links-youtube {
  width: 20px;
  height: 16px;
}

.page-footer__copyright {
  width: 115px;
  height: 34px;
  margin-top: 42px;
  margin-right: 72px;
  margin-bottom: 44px;
}

.page-footer__copyright path:hover {
  fill: #756257;
}

.page-footer__copyright path:active {
  opacity: 0.3;
}

.page-footer__copyright:focus {
  outline: 3px solid #83b3d3;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs-item-index {
  margin-left: 73px;
  width: 12px;
  height: 12px;
  margin-top: 5px;
  margin-right: 26px;
  margin-bottom: 45px;
  align-self: center;
}

.breadcrumbs-item-hotels {
  width: 73px;
  height: 21px;
  margin-top: 8px;
  margin-bottom: 45px;
}

.breadcrumbs-link,
.clear__button {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  color: #cbdcea;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-icon {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background: url("../images/icons/icon-home.svg") no-repeat 0 0;
}

.breadcrumbs-icon:hover {
  opacity: 0.6;
}

.breadcrumbs-icon:active {
  color: #cbdcea;
}

.breadcrumbs-icon:focus {
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-icon::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -15px;
  width: 5px;
  height: 8px;
  background: url("../images/icons/icon-pointer.svg") no-repeat 0 0;
}

.container {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 299px;
  justify-content: space-between;
}

.hotel-mode {
  width: 133px;
  margin-right: 25px;
  padding-right: 55px;
}

.hotel-price {
  width: 143px;
}

/* Catalog */
.inner-header-title {
  margin: 0;
  width: 528px;
  height: 68px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin-top: 35px;
  margin-left: 71px;
  margin-bottom: 5px;
}

.columns-catalog {
  margin: 0;
  padding: 0;
  background-image: url("../images/catalog-background.jpg");
  background-size: 1200px 408px;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.hotel-filter {
  justify-content: space-around;
}

.filter-min-price,
.filter-max-price {
  display: inline-block;
  width: 91px;
  padding-left: 65px;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  background: none;
}

.hotel-filter-type {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.control-input {
  width: 20px;
  height: 20px;
}

.fields {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  border: none;
}

.navigation-icon {
  padding: 0;
  margin: 0;
}

.icon-liked {
  position: relative;
  bottom: 6px;
  right: 10px;
}

.filter-buttons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 48px;
  margin-bottom: 53px;
  margin-right: 8px;
}

.hotel-filter-form {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.sort-line {
  display: flex;
  width: 1057px;
  height: 48px;
  margin-left: 71px;
  margin-top: 44px;
  margin-bottom: 53px;
}

.sorting-sum {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  margin-right: 191px;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  height: 48px;
  margin-right: 81px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  border: 2px solid #e6e6e6;
  cursor: pointer;
}

.select-control:hover {
  border: 2px solid #83b3d3;
}

.select-control:active {
  color: #c2c2c2;
  box-shadow: none;
}

.select-control:focus-visible {
  outline: none;
}

.select-control:focus {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-light {
  width: 48px;
  height: 48px;
  margin-bottom: 53px;
  margin-right: 8px;
}

.button-light:nth-child(3n) {
  margin-right: 0;
}

.button-tile {
  background-image: url("../images/icons/icon-tile.svg");
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-tile:hover {
  border: 2px solid #83b3d3;
}

.button-tile:active {
  border: 2px solid #000000;
}

.button-tile:focus {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-tile:focus-visible {
  outline: none;
}

.button-slideshow {
  background-image: url("../images/icons/icon-slideshow.svg");
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-slideshow:hover {
  border: 2px solid #83b3d3;
}

.button-slideshow:active {
  border: 2px solid #000000;
}

.button-slideshow:focus-visible {
  outline: none;
}

.button-slideshow:focus {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-list {
  background-image: url("../images/icons/icon-list.svg");
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-list:hover {
  border: 2px solid #83b3d3;
}

.button-list:active {
  border: 2px solid #000000;
}

.button-list:focus-visible {
  outline: none;
}

.button-list:focus {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Hotels */
.index-columns-hotels {
  color: #242424;
  background-color: #ffffff;
  background-image: none;
  width: 1058px;
  height: 1040px;
  margin: 0 auto;
}

.catalog-list-results {
  display: grid;
  grid-template-columns: 339px 339px 339px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  margin-bottom: 34px;
}

.catalog-item {
  display: flex;
  list-style-type: none;
  width: 339px;
  flex-direction: column;
}

.hotel-card-image {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.hotel-card-image:hover {
  background-color: #83b3d3;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.item-info:focus-visible {
  outline: none;
}

.hotel-title {
  padding: 0;
  width: 208px;
  height: 31px;
  margin-top: 16px;
  margin-right: 111px;
  margin-left: 20px;
  text-align: left;
}

.hotel-card-title-link:focus-visible {
  outline: none;
}

.hotel-control {
  margin-top: 16px;
  margin-bottom: 16px;
}

.item-rating {
  margin: 0 auto;
  width: 299px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stars {
  width: 92px;
  height: 17px;
  margin-bottom: 10px;
  background-image: url("../images/icons/icon-star.svg");
  background-size: 25px 17px;
  background-repeat: repeat-x;
  background-position: 0.2px center;
}

.stars-four {
  width: 93px;
}

.stars-three {
  width: 68px;
}

.stars-two {
  width: 43px;
}

.load-more {
  margin: 0;
  padding: 0;
  width: 1056px;
  height: 120px;
  text-align: center;
}

/* Pagination */
.pagination-container {
  display: flex;
  width: 1056px;
  height: 55px;
  margin-top: 30px;
  margin-bottom: 63px;
  margin-right: 72px;
  margin-left: 72px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 55px;
}

/* Item */
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  width: 55px;
  height: 55px;
  background: #83b3d3;
  border-radius: 4px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 14px 20px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  width: 55px;
  height: 55px;
  color: #ffffff;
  border: 3px solid #11ffee00;
}

.pagination-item:hover {
  background: #68a2ca;
}

.pagination-item:active {
  background: #f2f2f2;
}

.pagination-link:active {
  color: #000000;
}

.pagination-link:focus-visible {
  outline: none;
}

.pagination-link:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  border-radius: 4px;
}

.pagination-current {
  color: #242424;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.search-results {
  display: flex;
  width: 386px;
  height: 48px;
  margin-left: auto;
}

.hotels-per-page_title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin-top: 16px;
  margin-right: 51px;
}

.hotels-per-page {
  width: 160px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  padding-left: 17px;
  margin-top: 3px;
  margin-bottom: 4px;
  border: 2px solid #e6e6e6;
  cursor: pointer;
}

.hotels-per-page:hover {
  border: 2px solid #83b3d3;
}

.hotels-per-page:active {
  opacity: 0.3;
}

.hotels-per-page:focus-visible {
  outline: none;
}

.hotels-per-page:focus {
  border: 2px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Button */
.dark-button {
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
  width: 133px;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 9px 24px;
  margin-right: 25px;
  margin-left: 20px;
  cursor: pointer;
  border: 3px solid #11ffee00;
}

.dark-button:hover {
  background-color: #615048;
  border: 3px solid #83b3d3;
}

.dark-button:active {
  background-color: #615048;
  color: #918580;
  border: 1px;
}

.dark-button:focus-visible {
  outline: none;
}

.dark-button:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.light-button {
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 9px 21px;
  cursor: pointer;
  border: 3px solid #11ffee00;
}

.light-button:hover {
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.light-button:active {
  background-color: #68a2ca;
  color: #96bfdb;
  border: 1px solid #756257;
}

.light-button:focus-visible {
  outline: none;
}

.light-button:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  border-radius: 4px;
}

.green-button {
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 9px 21px;
  cursor: pointer;
  border: 3px solid #11ffee00;
}

.green-button:hover {
  background-color: #6c9e42;
  border: 3px solid #756257;
}

.green-button:active {
  color: #99bc7c;
  background-color: #6c9e42;
  border: 1px;
}

.green-button:focus-visible {
  outline: none;
}

.green-button:focus {
  background: #6c9e42;
  border: 3px solid #756257;
  border-radius: 4px;
}

.load-more__button {
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 17px 237px;
  cursor: pointer;
}

.load-more__button:hover {
  background-color: #68a2ca;
}

.load-more__button:active {
  color: #96bfdb;
  background-color: #68a2ca;
}

.load-more__button:focus-visible {
  outline: none;
}

.load-more__button:focus {
  border: 3px solid #756257;
  border-radius: 10px;
}

.item-rating-indicator {
  font-size: 16px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  color: #242424;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 9px 30px;
}
